.home {
  display: flex;

  .container {
    background-color: white;
    padding-top: 10px;
    margin-top: 40px;

    .opening {
      background-color: tr;
      color: #fff;
      margin-top: 0;

      h2,
      p {
        text-align: center;
        margin: 0;
        width: 100%;
        color: #fff;
      }

      h2 {
        margin-top: 30px;
      }

      p {
        margin-bottom: 20px;
      }
    }

    .menu-wrapper {
      margin: auto;
      width: 92%;
      margin-top: 65px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      a {
        color: #fff;
        text-decoration: none;
        margin: 0 auto;
      }

      h2 {
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        font-size: x-large;
      }
    }
  }
}

.home-menu-item {
  border-radius: 4px;
  background-color: #fd6969;
  // flex-grow flex-shrink flex-basis
  flex: 1 0 45%;
  margin: 3px;
  height: 124px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.order {
  background-image: url('/assets/pizza-1.jpg');

  h2 {
    text-align: center;
    margin: 40px 0;
    transition: .4s;
  }

  p {
    text-align: center;
  }
}

.booking {
  background-image: url('/assets/pizza-2.jpg');

  h2 {
    text-align: center;
    margin: 40px 0;
    transition: .4s;
  }

  p {
    text-align: center;
  }
}

.order:hover h2,
.booking:hover h2 {
  margin: 20px 0;
}

// CARUSEL
.carusel {
  margin: auto;
  width: 92%;
  display: flex;
  height: 300px;
  align-items: center;
  margin-top: 50px;

  .carusel-text-content {
    margin-top: 0;
    padding: 0 0 0 15px;

    h2 {
      margin-top: 0;
      font-family: 'Oswald', sans-serif;
      font-size: 14px;
      letter-spacing: 3px;
      font-weight: lighter;
    }

    p.carusel-text {
      margin: 6px 0;
    }
  }

  img {
    min-width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 25px;
  }
}

.carusel-dots {
  text-align: center;
  margin-top: -35px;

  i {
    margin: 0 auto;
    font-size: 10px;
    margin: 9px;
  }

  .active {
    color: #fd6969;
  }
}

// galery
.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 70px 0;
  justify-content: center;

  .insta-link {
    margin-right: auto;
    padding-left: 20px;
    margin-top: 20px;
    color: #ff6b6b;
    text-decoration: underline;
    padding-bottom: 65px;
  }
}

// squares made with no hight set. need to adjust of z-index in order to make overlay work peoperly
.gallery-item {
  position: relative;
  margin: 4px;
  flex: 0 0 30%;
  // height: 200px;
  width: 30%;
  text-align: center;
}

.gallery-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.gallery-item:after {
  content: '';
  display: block;
  padding-top: 100%;
}

.gallery-item:before {
  position: absolute;
  display: none;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  border-radius: 4px;
  opacity: 0.5;
  transition: .4s;
  z-index: 1;

}

.gallery-item figcaption {
  position: absolute;
  display: none;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  font-size: 14px;
  transition: .4s;
  z-index: 2;

  i {
    color: #eaf0d5;
    font-size: 20px;
    margin: 5px;
    transition: .2s;

    &:hover {
      color: #ff6b6b;
    }
  }
}

.gallery-item:hover:before,
.gallery-item:hover figcaption {
  display: block;
}

@media (max-width: 630px) {
  .order,
  .booking {
    p {
      display: none;
    }
  }

  .carusel {
    flex-direction: column;
    margin: 100px auto;
    height: 350px;

    img {
      margin-right: 0;
    }

    .carusel-text-content {
      text-align: center;
      margin-top: 20px;
    }
  }

  .gallery-item {
    flex: 0 0 45%;
    width: 45%;
  }
}
